<div class="cart-page">
    <h1>
        Cart Page
    </h1>
    <div class="row">
        <div class="col-sm-8 details">
            <ul>
                <li>
                    <img src="https://m.media-amazon.com/images/I/51WEXftXxiL._SY679_.jpg" alt="">
                </li>
                <li>
                    <span> Product Name</span>
                </li>
                <li>
                    <span> Price : 100</span>
                </li>
                <li>
                    <span> Quantity</span>
                </li>
                <li>
                    <button class="form-button">Remove To Cart</button>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="https://www.jiomart.com/images/product/original/rvrgwpjvsp/bruton-trendy-sports-shoes-for-men-blue-product-images-rvrgwpjvsp-0-202209021256.jpg?im=Resize=(600,750)"
                        alt="">
                </li>
                <li>
                    <span> Product Name</span>
                </li>
                <li>
                    <span> Price : 100</span>
                </li>
                <li>
                    <span> Quantity</span>
                </li>
                <li>
                    <button class="form-button">Remove To Cart</button>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="https://m.media-amazon.com/images/I/818UhQ1kpdL._SX679_.jpg" alt="">
                </li>
                <li>
                    <span> Product Name</span>
                </li>
                <li>
                    <span> Price : 100</span>
                </li>
                <li>
                    <span> Quantity</span>
                </li>
                <li>
                    <button class="form-button">Remove To Cart</button>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YXBwbGUlMjBsYXB0b3B8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
                        alt="">
                </li>
                <li>
                    <span> Product Name</span>
                </li>
                <li>
                    <span> Price : 100</span>
                </li>
                <li>
                    <span> Quantity</span>
                </li>
                <li>
                    <button class="form-button">Remove To Cart</button>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="https://m.media-amazon.com/images/I/818UhQ1kpdL._SX679_.jpg" alt="">
                </li>
                <li>
                    <span> Product Name</span>
                </li>
                <li>
                    <span> Price : 100</span>
                </li>
                <li>
                    <span> Quantity</span>
                </li>
                <li>
                    <button class="form-button">Remove To Cart</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <h3>Summary</h3>
            <ul>
                <li> <span>Amount:</span><span>300</span></li>
                <li> <span>Tax:</span><span>30</span></li>
                <li> <span>Delivery:</span><span>20</span></li>
                <li> <span>Discount:</span><span>50</span></li>
                <li> <span>
                        <h4>Total</h4>
                    </span> <span>
                        <h4>300</h4>
                    </span></li>

            </ul>
        </div>
    </div>
</div>