.sign-up, .login{
    text-align: center;
} 

.sign-up h1, .login h1{
    margin-bottom: 80px;
    margin-top: 50px;
    color: blueviolet;
}
.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}
.error-p{
    text-align: center;
    color: red;
}