<div class="user-auth">
    <div *ngIf="!showLogin" class="user-signup">
        <h1>User Sign-up</h1>
        <form #userSingUp="ngForm" class="common-form" (ngSubmit)="signUp(userSingUp.value)">
            <input class="form-input" type="text" placeholder="Enter User Name" name="name" ngModel />
            <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel />
            <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel />
            <button class="form-button">Sign Up</button>
            <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="user-login">
        <h1>User Login</h1>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel />
            <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel />
            <button class="form-button">Login</button>
            <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
        </form>
    </div>
</div>