.body {
    font-family: sans-serif;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.message-p{
    text-align: center;
    color: green;
}
.carousel-caption{
    background-color: rgba(73, 71, 71, 0.096);
    border-radius: 5px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.918);
    border: 5px;
}